<div class="w-full pt-12 leading-6">
  <div class="mx-auto ">
    <nav>
      <ul class="flex items-center p-0 m-0">
        <li class="flex items-center text-left text-gray-500">
          <svg class="block w-5 h-5 align-middle" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 0 20 20" aria-hidden="true">
            <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z"></path>
          </svg>

          <a [routerLink]="['/home']" title="" class="text-sm font-medium leading-5 cursor-pointer hover:text-gray-900">
            Home </a>
        </li>

        <li class="flex items-center text-left text-gray-500">
          <svg class="block w-5 h-5 align-middle" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 0 20 20" aria-hidden="true">
            <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z"></path>
          </svg>

          <a [routerLink]="['/home/details']" title=""
            class="text-sm font-medium leading-5 cursor-pointer hover:text-gray-900">
            Detail </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!-- Content -->

<div class="flex flex-col justify-center w-full mt-16 bg-gray-100 md:flex-row ">
  <img
    class="object-cover h-[30rem] text-white bg-gray-100 bg-center bg-cover rounded-xl mx-auto md:min-w-[20rem] md:w-[40rem]"
    [src]="data.urlFoto ? data.urlFoto : 'assets/imageNotFound.png'">


  <div class="flex flex-col w-full pl-6 mt-10 mb-8 md:mt-4 md:mb-4">
    <header class="border-b border-b-gray-300 ">
      <h1 class="text-3xl font-black text-slate-700">{{data.nome}}</h1>
      <p class="my-2 text-base leading-tight ">{{data.idade}} anos, {{data.sexo | titlecase}}</p>
    </header>


    <p class="mt-3 mb-3 text-xl font-black text-slate-700">Dados sobre o desaparecimento </p>
    <p class="mb-1"><span class="font-bold">Data:</span> {{data.ultimaOcorrencia?.dtDesaparecimento | formatDate}}</p>
    <p class="mb-1"><span class="font-bold">Local:</span> {{data.ultimaOcorrencia?.localDesaparecimentoConcat}}</p>
    <p class="mb-1"><span class="font-bold">Vestimenta:</span>
      {{data.ultimaOcorrencia?.ocorrenciaEntrevDesapDTO?.vestimentasDesaparecido | titlecase}}</p>
    <p class="mb-1"><span class="font-bold">Informações adicionais:</span>
      {{data.ultimaOcorrencia?.ocorrenciaEntrevDesapDTO?.informacao}}</p>

    <button (click)="shareWhatsapp()"
      class="mb-2 inline-flex rounded bg-[#128c7e] px-5 py-3 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg w-min mt-6">

      <span class="[&>svg]:h-5 [&>svg]:w-5 inline-flex items-center justify-center gap-2 ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512">
          <path
            d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7 .9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z" />
        </svg>

        <p>Compartilhar</p>
      </span>
    </button>

  </div>
</div>